body{
	background-color: #ecf0f1;

	.navbar{
		background-color: #03C9A9;
		color: white;
		font-weight: 400;
		.navbar-brand, .nav.navbar-nav>li>a{
			color: white;
			font-weight: bold;
		}
	}

	.lane{
	    background-color: #F5D76E;
	    height: 80vh;
	    display: block;
	    margin: 10px;
	    font-size: 16px;
	    .title-lane{
			color: #2c3e50;
			font: Arial;
			font-size: 25px;
			font-weight: bold;
	    }
	    .task-lane{
			.task{
				margin-bottom: 5px;
				border-bottom: 1px solid black;
				.task-title{
					width: 85%;
				}
				.task-opts{
					width: 15%;
					span{margin: 2.5px;}
				}
				.task-notes{
					div{width: 100%;}
					.task-date{
						font-weight: bold;
					}
				}
			}
	    }
	}
	
}

@media (min-width: 992px) {
	.lane.col-md-3-5{
	    width: 22.5%;
	}

}